<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar ie-nav" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" href="#"><strong>Cookbook</strong></a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Rezeptbuch</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Einkaufsliste</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
